<% provide(:title, 'Location Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<% if params[:lightweight] != "yes" %>

		<%= render "shared/menu" %>
		<div align="center"><a href="/warehousemaintenance" >
		<h1>Warehouse: <%= @warehouse%></h1></a>
</div>
<div style="margin-left: 30px;">
<%end%>
<table id=loc_list></table>
<div id=loc_pager></div>
</div>
<%= raw(loc_jqgrid) %>
<br />

<div style="margin-left: 30px;">
<div style="float: left">
  <%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag 'Upload File'%>
<% end %>
</div>
<div>

</div>
