<% provide(:title, 'Show Zone Layout') %>
<% content_for :head do %>   
	  <style>
	    .main             {width: 100%; height: 600px; border: 0px solid #999; padding: 0px; margin-left:20px;}
		.content 	      { overflow: auto;float: left;  height: 500px; width: 100%; background: white; margin-left:60px;}
        .area 	          { float: left;  margin-left:60px; margin-right:60px; height: 500px; width: 70%; background: white; border: 0px solid #000; }             
        .aisle            { float: left;  height: 40px;  width: 80px; border: 0px solid #000; color: white; background: -webkit-gradient(linear, left top, left bottom, from(#0033FF), to(lightblue));}

		.bay_col          { float: left;  height: 40px;  width: <%= @bay_width %>px;}
        .bay              { float: left;  height: 40px;  width: <%= @bay_width %>px; border: 1px solid #000;}
        .reserve          { float: left;  height: 40px;  width: <%= @bay_width %>px; border: 1px solid #000;}
		.bay_Empty        { float: left;  height: 40px;  width: <%= @bay_width %>px; border: 1px solid #999; background: white;}
		.bay_draggedhelper{ float: left;  height: 40px;  width: <%= @bay_width %>px; border: 1px solid #000; background: -webkit-gradient(linear, left top, left bottom, from(#FFCC66), to(#FFCC99));}
		.aisle_divider    { float: left;  height: 2px;   width: <%= @aisle_width %>px; border: 2px solid #999; background: black}
		.aisle_drivepath  { float: left;  height: 19px;   width: <%= @aisle_width %>px; border: 1px solid #999; background: #CCCCCC}
		.aisle_Empty      { float: left;  height: 40px;  width: <%= @aisle_width %>px; border:1px solid #999; background: white}

body {
	background: white;
	padding: 0px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
     inset #19d4ff 0 0 0 5px,
}

table tr td { 
  font-size: 10px;
  background: white;
  color: #47433F;
  border-top: 0px solid #FFF;
  
}

    </style>	
     
      <script type="text/javascript">
      
      //global variable and call initialize function.
      index_html_map = {}	    
	  $( init );


	//To swap the position of two items
	function init() { 
 				 indexHTML.setDragnDrop();
 				 indexHTML.setClickitem();
 			}  



var indexHTML = {
	
  

	setDragnDrop: function setDragnDrop() { 

		  $('.bay, .bay_Empty').draggable(
		     {containment: '#content',
		      revert: true, 
		      helper: helpermethod,


		      start: function(event, ui) {
						 index_html_map.dragged="yes";  								 
					     index_html_map.bay = $(this).attr('id');
					     index_html_map.title = $(this).attr('title');
					     index_html_map.content = $(this).attr('class');

			 			 //alert('After drag' + ' ' +  $(this).attr('class'));	

		 	   }
		  });

		function helpermethod( event ) {

	  		   newdiv = '<div id="bay_draggedhelper" class="bay_draggedhelper">' +  ($(this).attr('title')).substring(14) + '</div>'
	  		   return newdiv;
		}



		  $('.bay_Empty, .bay').droppable( {
		  	  drop: handleDropEvent

		    } ); 



		function handleDropEvent( event, ui ) {

			  if(index_html_map.dragged=="no")
			  {
			  	return;

			  }	
			  else
			  {
			  	index_html_map.dragged="no";
			  }

			  oldTitle = $(this).attr('title');
			  oldid = $(this).attr('id');

			  $(this).removeClass('ui-draggable ui-droppable')
			  oldClass = $(this).attr('class');
			  //alert(oldClass + " "+ oldid);	


			  //this code is written because ui-droppable is always appeneded after the JQuery			  
			  $('#bay_draggedhelper').html(oldTitle);
			  $('#bay_draggedhelper').attr(oldClass);


			  $(this).attr('title', index_html_map.title);
			  $(this).attr('class', index_html_map.content);
			  $(this).removeClass('ui-draggable ui-droppable')


			  bay = index_html_map.bay;


			  $("#"+bay).attr('title', oldTitle);
			  $("#"+bay).attr('class',  oldClass);


			  $.post("/bay",
				{
					"bay[event]": "update_class",
					"bay[dragbay_id]": bay,
					"bay[dropbay_id]":     $(this).attr('id'),
				},
				function(data,status)
				{

				});


			  indexHTML.setDragnDrop();
			  indexHTML.setClickitem();


			} 
	},

  	 //JQuery 		

	  //$(document).ready(function(){  
	  setClickitem: function setClickitem() {	

		    $('.bay, .bay_Empty').click(function(){   
					// calc good width
					var ww=$(window).width()*.95;
					var wh=$(window).height()*.95;

					//size iframe nice like
					$("#positionframe").width(ww-10);
					$("#positionframe").height(wh-10);

				    $('#positionframe').attr('src',"/position/"+ this.id+ "?zoom=yes");
				    $('#positionspace').dialog({
		    	  	height: 400,
		      		width: 1100,
		      		modal: true,
      			})
	});

		    $(function() {


	        $('.aisle').contextPopup({
	          title: 'Bay Update',
	          items: [
	            {label:'Edit aisle',                     action:function() {showdata($(this).attr('id'), "aisle");} },
	            null, // divider
	            {label:'Show bay',              	   action:function() { alert('clicked 4') } },
	            {label:'Merge bay',         		   action:function() { alert('clicked 6') } },
	            null, // divider
	            //{label:'Onwards',       icon:'icons/application-table.png',           action:function() { alert('clicked 7') } },
	            {label:'Close',                        action:function() { alert('clicked 8') } }
	          ]
	        });
	        
	        $('.bay, .bay_Empty').contextPopup({
	          title: 'Bay Update',
	          items: [
	            {label:'Edit bay',                     action:function() {showdata($(this).attr('id'), "bay");} },
	            null, // divider
	            {label:'Show bay',              	   action:function() { alert('clicked 4') } },
	            null, // divider
	            //{label:'Onwards',       icon:'icons/application-table.png',           action:function() { alert('clicked 7') } },
	            {label:'Close',                        action:function() { alert('clicked 8') } }
	          ]
	        });	        
	       function showdata(id, type){
	       		
					// calc good width
					var ww=$(window).width()*.95;
					var wh=$(window).height()*.95;

					//size iframe nice like
					$("#showdataframe").width(ww-10);
					$("#showdataframe").height(wh-10);
					if (type == 'bay' || type == 'bay_Empty') {
						$('#showdataframe').attr('src',"/baysmaintenance?lightweight=yes&bayid=" + id);
					}else
					
					{
					    $('#showdataframe').attr('src',"/aislemaintenance?lightweight=yes&aisleid=" + id);
					}
					    $('#showdataspace').dialog({
			    	  	height: 300,
			      		width: 1000,
			      		modal: true,
			      		close: function() {
	      					   window.parent.document.location.reload(true);
	      				}
				 })
	       }
	     });

		      $('.bay, .bay_Empty').dblclick(function(){
	    		 if($('#'+ $(this).attr('id') + '_text').length>0) { 

	  				labelID = $(this).attr('id') + '_label';	
		     		textID  = $(this).attr('id') + '_text';

			 	 	newlabel = $(document.createElement("label"))
			     	.attr("id", labelID);
			     	 $(this).append(newlabel);     	

				    $.post("/bay",
				    {
				      "bay[event]": "update_position",		
				      "bay[bay_id]": $(this).attr('id'),
				      "bay[cl_bay_id]": $('#'+ textID).attr('value')
				    },
				    function(data,status){
				    	  //alert(status);	
						  if (status=="success") {

				      			$("#positionspace").load("/position/"+data);
							}	
						  else
						  	{
						  		alert("Internal server Error");
						  	}	
				    });

			    	 $('#'+labelID).html( "Bay " + $('#'+ textID).attr('value'));
			 	 	 $('#'+ textID).remove();
			 	 }

			 	else{

				  	labelID = $(this).attr('id') + '_label';	
				 	textID  = $(this).attr('id') + '_text';

				     newTextBox = $(document.createElement("input"))
				    .attr("type", "text")
				    .attr("id", textID)
				    .attr("name", $(this).attr('id'))
				    .attr("style", "width: 80px")
				    .attr("style" , "border-style: solid")
				    .attr("style" , "border-color: orange")
				    .attr("value", ($("#"+labelID).html()).substring(4))
				     $(this).append(newTextBox);
				     $("#" + textID).focus();
				  	 $("#" + labelID).remove();
				}
			}); 
	}
	//);	

} //End of indexHTML

</script>

<%end%>
<%= render "shared/menu" %>
	
<div id="main" class="main" > 
	<div id="navingation" style="float: left; width: 100%; height: 80px; border: 0px solid #999" >
		
		<div style="float: left"><%= link_to image_tag("compass.jpg", alt: "direction", :width => "80px", :height => "80px"), '' %></div>
		<div style="float: left"><h2>Warehouse: <%=@warehouse%></h2> <h3>Zone: <%=@zone%></h3></div>
		
		<br>
	</div>

<div id="content" class="content">
   <div id="area" class="area"> 

   	<table border="0" id ="bayTable" style="border-collapse:collapse;">
   	<% @aislehash.each do |aisle, aislevalue| %>
		  
  		<%= raw(aisle_render aisle, aislevalue) %>
  
	 <%end %>	  	 			   	       			 	       
  	 
  </table>
  
 </div>
   
  
   
</div>
 
</div>

 <div id="positionspace" class= "positionspace"> 
 	<iframe id="positionframe" frameborder="no"></iframe>
  </div>

<div id="showdataspace" class= "showdataspace"> 
 	<iframe id="showdataframe" frameborder="no"></iframe>
  </div>
<

</body>
</html>
