<% content_for :head do %>   
	  <style>
	    #main             {width: 100%; height: 600px; border: 0px solid #999; padding: 0px; margin-left:20px;}
		#content 	      { float: left;  height: 5000px; width: 100%; background: #E0E0E0; }
        #area 	          { float: left;  height: 5000px; width: 100%; background: #E0E0E0; border: 0px solid #000; }             
        .aisle            { float: left;  height: 20px;  width: 80px; border: 1px solid #000; background: -webkit-gradient(linear, left top, right top, from(yellow), to(#F8F8F8));}

		.bay_col          { float: left;  height: 20px;  width: <%= @bay_width %>px;}
        .bay              { float: left;  height: 20px;  width: <%= @bay_width %>px; border: 1px solid #000; background: -webkit-gradient(linear, left top, right top, from(#888888), to(#F8F8F8));}
        .reserve          { float: left;  height: 20px;  width: <%= @bay_width %>px; border: 1px solid #000; background: orange;}
		.bay_Empty        { float: left;  height: 20px;  width: <%= @bay_width %>px; border: 1px solid #999; background: white;}
		.bay_draggedhelper{ float: left;  height: 20px;  width: <%= @bay_width %>px; border: 1px solid #000; background: -webkit-gradient(linear, left top, right top, from(#888888), to(#F8F8F8));}
		.aisle_divider    { float: left;  height: 2px;   width: <%= @aisle_width %>px; border: 2px solid #999; background: black}
		.aisle_drivepath  { float: left;  height: 5px;   width: <%= @aisle_width %>px; border: 1px solid #999; background: white}
		.aisle_Empty      { float: left;  height: 20px;  width: <%= @aisle_width %>px; border:1px solid #999; background: white}
        #positionspace    { float: left;  height: 200px; width: 2000px; background: #E0E0E0; border: 0px solid #000;; }        

body {
	background: #E0E0E0;
	padding: 0px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset #19d4ff 0 0 0 5px,
}

     </style>
     
      <script type="text/javascript">
      
      //global variable and call initialize function.
      index_html_map = {}	    
	  $( init );


	//To swap the position of two items
	function init() { 
 				 indexHTML.setDragnDrop();
 				 indexHTML.setClickitem();
 			}  



var indexHTML = {
	
  

	setDragnDrop: function setDragnDrop() { 

		  $('.bay').draggable(
		     {containment: '#content',
		      //cursor: 'move',
		      //snap: '#area',
		      revert: true, 
		      helper: helpermethod,


		      start: function(event, ui) {
						 index_html_map.dragged="yes";  								 
					     index_html_map.bay = $(this).attr('id');
					     index_html_map.title = $(this).attr('title');
					     index_html_map.content = $(this).attr('class');

			 			 //alert('After drag' + ' ' +  $(this).attr('class'));	

		 	   }
		  });

		function helpermethod( event ) {

			  //image = '<%= image_tag("pallet.jpg", alt: "", :width => 80, :height => 80) %>' 	
	  		   newdiv = '<div id="bay_draggedhelper" class="bay_draggedhelper">' +  ($(this).attr('title')).substring(14) + '</div>'
	  		   return newdiv;
		}



		  $('.bay_Empty, .bay').droppable( {
		  	  drop: handleDropEvent

		    } ); 



		function handleDropEvent( event, ui ) {

			  if(index_html_map.dragged=="no")
			  {
			  	return;

			  }	
			  else
			  {
			  	index_html_map.dragged="no";
			  }

			  oldTitle = $(this).attr('title');
			  oldid = $(this).attr('id');

			  $(this).removeClass('ui-draggable ui-droppable')
			  oldClass = $(this).attr('class');
			  //alert(oldClass + " "+ oldid);	


			  //this code is written because ui-droppable is always appeneded after the JQuery			  
			  $('#bay_draggedhelper').html(oldTitle);
			  $('#bay_draggedhelper').attr(oldClass);


			  $(this).attr('title', index_html_map.title);
			  $(this).attr('class', index_html_map.content);
			  $(this).removeClass('ui-draggable ui-droppable')


			  bay = index_html_map.bay;


			  $("#"+bay).attr('title', oldTitle);
			  $("#"+bay).attr('class',  oldClass);


			  $.post("/bay",
				{
					"bay[event]": "update_class",
					"bay[dragbay_id]": bay,
					"bay[dragbay_class]": oldClass,
					"bay[dragbay_title]" : oldTitle.substring(14),
					"bay[dropbay_id]":     $(this).attr('id'),
					"bay[dropbay_class]":  $(this).attr('class'),
					"bay[dropbay_title]" :  ($(this).attr('title')).substring(14)

				},
				function(data,status)
				{

				});


			  indexHTML.setDragnDrop();
			  indexHTML.setClickitem();


			} 
	},

  	 //JQuery 		

	  //$(document).ready(function(){  
	  setClickitem: function setClickitem() {	

		    $('.bay, .bay_Empty').click(function(){   

		    	//if (($(this).attr('class')).substring(0, 9)!= "bay_Empty") {

					$('#positionspace').load("/position/"+ this.id+ "?zoom=yes"); 
				    $('#positionspace').animate({ 'zoom': 1.4 }, 800);
				    $('#positionspace').dialog({
		    	  	height: 500,
		      		width: 1000,
		      		modal: true
				 })
			//}
	});

		   $(function() {
		   
	        $('.bay, aisle_Empty').contextPopup({
	          title: 'Bay Update',
	          items: [
	            {label:'Reserve bay',                  action:function() { $('#'+ id).attr('class', 'reserve') } },
	            {label:'Empty bay',                    action:function() { alert('clicked 2') } },
	            {label:'Delete bay',                   action:function() { alert('clicked 3') } },
	            null, // divider
	            {label:'Show bay',              	   action:function() { alert('clicked 4') } },
	            {label:'Edit bay',                     action:function() { alert('clicked 5') } },
	            {label:'Merge bay',         		   action:function() { alert('clicked 6') } },
	            null, // divider
	            //{label:'Onwards',       icon:'icons/application-table.png',           action:function() { alert('clicked 7') } },
	            {label:'Close',                        action:function() { alert('clicked 8') } }
	          ]
	        });
	     });


		      $('.bay, .bay_Empty').dblclick(function(){
	    		 if($('#'+ $(this).attr('id') + '_text').length>0) { 

	  				labelID = $(this).attr('id') + '_label';	
		     		textID  = $(this).attr('id') + '_text';

			 	 	newlabel = $(document.createElement("label"))
			     	.attr("id", labelID);
			     	 $(this).append(newlabel);     	

				    $.post("/bay",
				    {
				      "bay[event]": "update_position",		
				      "bay[bay_id]": $(this).attr('id'),
				      "bay[cl_bay_id]": $('#'+ textID).attr('value')
				    },
				    function(data,status){
				    	  //alert(status);	
						  if (status=="success") {

				      			$("#positionspace").load("/position/"+data);
							}	
						  else
						  	{
						  		alert("Internal server Error");
						  	}	
				    });

			    	 $('#'+labelID).html( "Bay " + $('#'+ textID).attr('value'));
			 	 	 $('#'+ textID).remove();
			 	 }

			 	else{

				  	labelID = $(this).attr('id') + '_label';	
				 	textID  = $(this).attr('id') + '_text';

				     newTextBox = $(document.createElement("input"))
				    .attr("type", "text")
				    .attr("id", textID)
				    .attr("name", $(this).attr('id'))
				    .attr("style", "width: 80px")
				    .attr("style" , "border-style: solid")
				    .attr("style" , "border-color: orange")
				    .attr("value", ($("#"+labelID).html()).substring(4))
				     $(this).append(newTextBox);
				     $("#" + textID).focus();
				  	 $("#" + labelID).remove();
				}
			}); 
	}
	//);	

} //End of indexHTML

</script>

<%end%>
<%= render "shared/menu" %>
	
<div id="main" class="main" > 
	<div id="navingation" style="float: left; left-margin: 20px; width: 100%; height: 80px; border: 0px solid #999" " >
		
		<div style="float: left"><%= link_to image_tag("compass.jpg", alt: "direction", :width => "80px", :height => "80px"), '' %></div>
		<div style="float: right"><h2>Warehouse: <%=@warehouse%></h2> <h3>Zone: <%=@zone%></h3></div>
		
		<br>
	</div>

<div id="content" class="content">
   <div id="area" class="area"> 

   	<table border="0" id ="bayTable" style="border-collapse:collapse;">
   	<% @aislehash.each do |aisle, aislevalue| %>
		
    	<% aislevalue.each do |row, rowvalue| %>
    	
    	   <%if row == "aisletype" %>
    	   			 <%if rowvalue=="B"%>
	    	   			 <tr><td><div  class="aisle_Empty"></div></td> 
	    	   			 	<td class="aisle">Aisle: <%= aisle %></td>
	    	   			 </tr> 	    	             
	    	          <%end%>
	    	          
	    	          <% @aisletype = rowvalue %>
	    	   <% else %>
 		        <tr>

 				<%if row  == "R" %> 				
					<td><hr style="width: <%= @aisle_width %>px; float: left" color="blue"></td>	   	       			 	       
         			<td class="aisle">Aisle: <%= aisle %></td>
          			</tr><tr>
          		<% end %>
          		
 				<%if row  == "L" %> 				
					<td> 
 						<div  class="aisle_divider"> </div>   	       
          			</td>
          			</tr><tr>
          		<% end %>


          		<% rowvalue.each do |bay, bayvalue| %>	
          			 <td class="bay_col">
	 	 		     <div id="<%= bay %>" class="<%= bayvalue[:type] %>" title=" Product Type: <%= bayvalue[:item] %>" >	   	    	  
		   	    	 <label id="<%= bay%>_label"> Bay <%= bayvalue[:customerid] %> </label> 	   	    	
		   	    </div>
		   	    </td>
	   		<% end %></tr><tr>
	   		<%if row == "L" and @aisletype== "L" %>
	   			
	   			<td>
   			 	<hr style="width: <%= @aisle_width %>px; float: left" color="blue"> </td>
	   			<td class="aisle">Aisle: <%= aisle %></td>
	   		<% end %>		
       		</tr>  
    	 <% end %>
    <% end %>
  <% end %>
   
 </table>

  
   </div>
   
  
   
</div>
 
</div>

 <div id="positionspace" class= "positionspace"> </div>
</body>
</html>
