<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>new.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
		 <% form_for @article do |f| %>
		  <%= f.text_field :name %>
		  <%= f.collection_select :temperature, Article::TEMPERATURES, :to_s, :to_s, 
		       :include_blank => true
		  %>
		  <%= f.submit "Create" %> <% end %>
		<% end %>
  <%= yield %>
  </body>
</html>
