  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>new.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  	
<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :client_id %>
  <%= f.text_field :user_id %>
  <%= f.submit "Create" %>
<% end %>

  </body>
</html>