<% provide(:title, 'Show Positions') %>
<% content_for :head do %> 
	  <style>

	  	 #position 			{ float: left; background: white; border-width:1px; height: 600px; width: 1100px; margin-left: 00px}
	  	.level 				{ float: left; height: 30px; font-size: px; width: 100px;  border: 1px solid #000; border-right:5px solid black;};
	  	.col				{ height: 17px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:1px solid black;}
	  	.pos 				{ float: left; height: 30px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:5px solid black;background-color: #CCFF99;}
	    .pos_Empty 			{ float: left; height: 30px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:5px solid black;background-color: white;}


	    .pos_draggedhelper  { float: left; height: 30px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:5px solid black;background-color: #eec917;} 
	    .orange				{ float: left; height: 30px; width: 80px;  border: 1px solid #000; border-right:5px solid black;background-color: orange;}
	    .green				{ float: left; height: 30px; width: 80px;  border: 1px solid #000; border-right:5px solid black;background-color: green;}
	    .red				{ float: left; height: 30px; width: 80px;  border: 1px solid #000; border-right:5px solid black;background-color: red;}
	    .pos_divider 		{ float: left; height: 1px;  width: <%= @level_width %>px; border: 1px solid #999; background: black}
	    .level_Empty        { float: left;  height: 15px; width: <%= @level_width %>px; border:1px solid #000; background: white}  
		.bay                { float: center;  margin:auto; height: 20px; width: 80px; border: 1px solid #000; background: -webkit-gradient(linear, left top, right top, from(#888888), to(#F8F8F8));}
		
table tr td { 

  font-size: 8px;
  background: #DDD;
  color: #47433F;
  border-top: 0px solid #FFF;
  vertical-align:text-middle;	  
}

</style>

	  
<script type="text/javascript">	

//global variable
    pos_html_map = {}	          
	$( init );
 
 $(document).ready(function(){  

		    $('#zoom').click(function(){
		    $('#location2').load("/position/"+ <%= @bay_id %> + '?zoom=yes'); 
		    $('#location2').animate({ 'zoom': 1.2 }, 800);
		    
		    $('#location2').dialog({
    	  	height: 500,
      		width: 1100,
      		modal: true
    });
					
	});	    
});

  
 
//

//To swap the position of two items
function init() { 
 
 posHTML.setDragnDrop()
 //Tooltip
   $(function() {
    $( document ).tooltip({
      position: {
        my: "center bottom-5",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
    });
  });
  
}


var posHTML = {
	
setDragnDrop: function setDragnDrop() { 
 
	  $('.pos').draggable(
	     {
	      revert: true, 
	      helper: helpermethod,
	      
	      start: function(event, ui) {
					 var offset = $(this).offset(); 
					 
					 pos_html_map.pos= $(this).attr('id');
					 pos_html_map.title= $(this).attr('title');
					 pos_html_map.content= $(this).attr('class') ;					 
	 	   }
	  });

	function helpermethod( event ) {
  	
  		   newdiv = '<div id ="pos_draggedhelper" class="pos_draggedhelper">' +  $(this).attr('title') + '</div>'
  		   return newdiv;
	}
	
	
	  $('.pos_Empty').droppable( {
	  	  drop: handleDropEvent
	  	  
	    } ); 
	  
   
	function handleDropEvent( event, ui ) {

			  oldTitle = $(this).attr('title');
			  oldid = $(this).attr('id');

			  $(this).removeClass('ui-draggable ui-droppable')
			  oldClass = $(this).attr('class');
	


			  //this code is written because ui-droppable is always appeneded after the JQuery			  
			  $('#pos_draggedhelper').html(oldTitle);
			  $('#pos_draggedhelper').attr(oldClass);


			  $(this).attr('title', pos_html_map.title);
			  $(this).attr('class', pos_html_map.content);
			  $(this).removeClass('ui-draggable ui-droppable')

			  pos = pos_html_map.pos;

			  $("#"+pos).attr('title', oldTitle);
			  $("#"+pos).attr('class',  oldClass);

		  $.post("/position",
		  				{
		  					"position[event]": "update_posclass",
		  					"position[dragpos_id]": pos,
		  					"position[droppos_id]": $(this).attr('id')	 
		  				},
		  				function(data,status)
		  				{
		  					//window.location.reload();
		  					if (data=='false')
		  						{alert('Can not move Item due to preference mismatch');}
							
							$('#position').load('/position/'+ <%= @bay_id %>);
		  								
          				});
          	
		} 
	} //ends the init function

}

</script>

 <% end %>
 
 
 

<div id="position" class="position">

   <div align="center" class="bay"> Bay: <%= @cl_bay_id %> </div>
   

   <div style="float: left" id="location"> 
    <table border="0" style="border-collapse:collapse">
   	<% @levelhash.each do |level, levelvalue| %>
   
		<tr> <td><div  class= "level" style="background-color: <%= levelvalue["level_properties"]["priority_level"] == "Yes" ?  "yellow" : "grey" %>" >
			Level: <%= levelvalue["level_properties"]["customer_id"] %></div></td>
		  <% if levelvalue.empty? %>
		  	<td><div class="level_Empty"></div></td></tr>
		  <% else %>
		  <td>
		  	
		  	
	    	  <% levelvalue["pos"].each do |pos, posvalue| %>
	    	            
	          			 
			 	<div id="<%= pos %>" class="<%= posvalue[:pos_type] %>" title="<%= raw(poistion_tooltip(posvalue)) %>" >
	   	    	  
				   	    	 <% case posvalue[:pos_continue] %>
				   	    	 <% when "Continue"%>
				   	    	 <%= image_tag("continue.jpg", alt: "", :width => 40, :height => 10, :id => "continue")%>
				   	    	 <% when "Break"%>
				   	    	 <%= image_tag("break.jpg", alt: "", :width => 40, :height => 10, :id => "break")%>
				   	    	 <% else %>
				   	    	 <label id="<%= pos%>_label">  <%= posvalue[:customer_id] %> </label> 
				   	    	 <% end %>	   	    	
			   	    		 </div>
			   	    	 
					
		   		<% end %></td></tr>
	   		
	   		<% end %>
	   		<tr><td width="<%= @pos_width %>px"></td>
	   			<td class= "pos_divider"><div class= "pos_divider"> </div></td>
	   		</tr>
    	 <% end %>
    
   
</table>
</div>


<%= yield %>



