<% provide(:title, 'Show Positions') %>
<% content_for :head do %> 

<style>
	.position       	{ float: left; background: white; border-width:1px; height: 600px; width: 80%; margin-left: 00px}
	.level       		{ float: left; height: 30px; font-size: 14px; width: 100px;  border: 1px solid #000; border-right:5px solid black;};
	.col        		{ height: 17px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:1px solid black;}
	.pos        		{ float: left; height: 30px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:5px solid black;background-color: #CCFF99;}
	.pos_Empty      	{ float: left; height: 30px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:5px solid black;background-color: white;}
	.pos_draggedhelper  { float: left; height: 30px; width: <%= @pos_width %>px;  border: 1px solid #000; border-right:5px solid black;background-color: #eec917;} 
	.pos_divider    	{ float: left; height: 1px;  width: <%= @level_width %>px; border: 1px solid #999; background: black}
	.level_Empty        { float: left;  height: 15px; width: <%= @level_width %>px; border:1px solid #000; background: white}  
</style>

<% end %>
 
 
 

	  <div style="height: 30px; width: <%= @level_width + 100 %>px">	
		<div class="btn btn-primary pull-left" style="float:left; height: 30px">Bay: <%= @cl_bay_id %></div> 
   	  	<div class="btn-group pull-right" style="float:left">
	 		 	<button class="btn btn-primary">Action</button>
	  		 	<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
	    			<span class="caret"></span>
	  			</button>
	  			<ul class="dropdown-menu">
	    		<!-- dropdown menu links -->
	    			<li>
	    				<a href="javascript:$('body').load('/position/<%= @bay_id %>?lightweight=yes&item=Yes')">Item</a>
	    				<a href="javascript:$('body').load('/position/<%= @bay_id %>?lightweight=yes')">Barcode</a>
	    			</li>	
	  			</ul>
		</div>
	</div>	
	   

   <div style="float: left; width: 100%" id="location"> 
    <table border="0" style="border-collapse:collapse">
   	<% @levelhash.each do |level, levelvalue| %>
   
		<tr> 
			<td>

				<% case levelvalue["level_properties"]["priority_level"] %>
					<% when "High" %>
						<div  class= "level label label-danger" >
							
					<% when "Medium"%>
						<div  class= "level label label-warning" >

					<% when "Low" %>
						<div  class= "level label label-success" >

					<% else %>
						<div  class= "level label label-info" >

				 	<% end %>
						Level: <%= levelvalue["level_properties"]["customer_id"] %>
					</div>
				
			</td>
		  
			<% if levelvalue.empty? %>
			  	<td>
			  		<div class="level_Empty">
			  			
			  		</div>
			  	</td>
		   <% else %>
		  
		  
	    	<% levelvalue["pos"].each do |pos, posvalue| %>
			    	            
			        <td style="float:left">    			 
					 	<div id="<%= pos %>" class="<%= posvalue[:pos_type] %>">  
			   	    	  
						   	    	 <% case posvalue[:pos_continue] %>
							   	    	 <% when "Continue"%>
							   	    	 <a href="#" data-toggle="tooltip" data-placement="bottom" title="<%= raw(poistion_tooltip(posvalue)) %>"> 							   	    	 
							   	    	 		<%= image_tag("continue.jpg", alt: "", :width => 40, :height => 10, :id => "continue")%>
							   	    	 </a>
							   	    	 <% when "Break"%>
							   	    	 <%= image_tag("break.jpg", alt: "", :width => 40, :height => 10, :id => "break")%>
							   	    	 <% else %>
							   	    	 
							   	    	 <a href="#" data-toggle="tooltip" data-placement="bottom" title="<%= raw(poistion_tooltip(posvalue)) %>"> 							   	    	 
								   	    	 <% if @show_item=="Yes"%>
								   	    	 	<label id="<%= pos%>">  <%= posvalue[:item] %> </label> 
								   	    	 <%else%>
								   	    	 	<label class="<%= (posvalue[:pos_selected] == 'no' ? "label label-info" : "label label-danger") %> id="<%= pos%>">  <%= posvalue[:customer_id] %> </label>	
											 <%end%>							   	    	 	
										 </a>										 
						   	    	 
						   	    	 <% end %>	   	    	
					   	 </div>				   	    	 
					</td>		
		   	<% end %>
	   		
	   	  <% end %>
		</tr>

   		<tr><td width="<%= @pos_width %>px"></td>
   			<td class= "pos_divider"><div class= "pos_divider"> </div></td>
   		</tr>
    <% end %>

</table>
</div>

<div style="float:left"><button class="btn btn-primary" onclick="goBack()">Go Back</button></div>   
</div>


<%= yield %>



