<!--
	**Purpose: Maintain Item
	**Functionalities:
	               1. Add Ailse
	               2. Edit Aisle Attributes
	               3. Create Bays for Aisle
	               4. Create Levels for Aisle 
	               5. Call method to show layout of aisle
	               6. Call method to copy bay, level, position from one aisle to other	                  
	**Author : Mitali Madhuchhanda Swain
-->

<% provide(:title, 'Item Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
	<%= render "shared/menu" %>
<<<<<<< HEAD
	<h3><div class="label label-primary">Item Master</div></h3>
=======
	<h3><div class="label label-primary">Item Master</h3>
>>>>>>> 0123c305689b7987a4abfbe9e1b3168537ef04a6

<div>
	<table id=item_list></table>
	<div id=item_pager></div>
	<%= raw(item_jqgrid) %>
</div>

<div style="float: left">
<span>
  <%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag 'Upload File'%>
<% end %>
</div>
</span>
