<%= render "shared/menu" %>
<div style="float: left; height:600px; width:100%">
<div  class = "c1" style="float: left; height:600px; width:70% ; margin: 20px"><%= image_tag("Slot2.jpg", alt: "", :width => 400, :height => 200) %></div>
<div style="float: left; height:600px; width:25%;">


<div  style=" float: right;font-size: 150%; border-width: 1px; height: 160px;  width: 100%;  
border-style: solid; border-color: grey;background-color: #f1f1f1; margin: 20px">
<div style="background: blue; float: left; height: 20px; width: 100%;font-weight:bold; color: white">Login</div>
<table align="right">
  <%= form_tag("/login", method: "post") do %>  
  <tr>
  	<td>
      <%= label_tag(:lbluid, "UserId:") %>
    </td>
    <td>
      <%= text_field_tag(:txtuid) %>
    </td>
  </tr>
  <tr>
  	<td>
      <%= label_tag(:lblpswd, "Password:") %>
    </td>
    <td>
      <%= password_field_tag(:txtpswd) %>
    </td>
  </tr>
<tr>
  	<td>
      <%= submit_tag("Sign in") %>
   </td>
  
  </tr>
  </br>
   <tr>
  
   <td colspan="3">
		<% flash.each do |key, value| %>
		  <div style="color: red" class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
   </td>
  </tr>
<% end %>
</table>
</div>

</div>
</div>
