<% provide(:title, 'Login') %>
<% content_for :head do %>
<script>
           $(function() {
                           $( "input[type=button], button" )
                             .button()
                             .click(function( event ) {
                               event.preventDefault();
                             });
                         });
     
	       function register(){
					$('#register').load("/userregister"); 
				    $('#register').dialog({
		    	  	height: 1000,
		      		width: 800,
		      		modal: true
				 })
	       }
	       
          function getCookie(c_name)
					{
					var c_value = document.cookie;
					var c_start = c_value.indexOf(" " + c_name + "=");
					if (c_start == -1)
					  {
					  c_start = c_value.indexOf(c_name + "=");
					  }
					if (c_start == -1)
					  {
					  c_value = null;
					  }
					else
					  {
					  c_start = c_value.indexOf("=", c_start) + 1;
					  var c_end = c_value.indexOf(";", c_start);
					  if (c_end == -1)
					  {
					c_end = c_value.length;
					}
					c_value = unescape(c_value.substring(c_start,c_end));
					}
					return c_value;
					}

	        function login() {
                                
                                 $.post("/login",
                                       {
                                         "txtuid"  :$('#txtuid').val(),
                                         "txtpswd" :$('#txtpswd').val()
                                       },
                                       function(data,status)
                                       {
                               				if (data.substring(0,5) == "Error")
                               						$("#Error").html(data.substring(6));	
                               				else
                               					redirect_url = getCookie("last_url")
                               					if (redirect_url == null) {
                               						redirect_url = "/warehousemaintenance"
                               					}
                               					window.location.href=redirect_url;
                               							
                                       });                                   
                   }
                   
                   
          jQuery(function(){
			  jQuery(window).keyup( function(e){ 
    			if (e.keyCode == 13) {
         			login()
         		 }
  				});
		  });
       
	       
</script>

<%end%>

<%= render "shared/menu" %>
<div style="float: left; height:600px; width:100%">
<div  class = "c1" style="float: left; height:600px; width:70% ; margin: 20px"><%= image_tag("Slot2.jpg", alt: "", :width => 400, :height => 200) %></div>
<div style="float: left; height:600px; width:25%;">

<div><a href="/userregister" >New User? Please SignUp.</a></div>
<div class="ui-corner-all" style=" float: right;font-size: 150%; border-width: 1px; height: 200px;  width: 100%;  
border-style: solid; border-color: grey;background-color: #F8F8FF; margin: 20px">
<div style="background: blue; float: left; height: 20px; width: 100%;font-weight:bold; color: white">Login</div>
<div id="login" style="margin-top: 40px">
<table align="right" width="100%">
  <%= form_tag("/login", method: "post") do %>  
  <tr>
  	<td>
      <%= label_tag(:lbluid, "User Id:") %>
    </td>
    <td>
      <%= text_field_tag(:txtuid) %>
    </td>
  </tr>
  <tr>
  	<td>
      <%= label_tag(:lblpswd, "Password:") %>
    </td>
    <td>
      <%= password_field_tag(:txtpswd) %>
    </td>
  </tr>
<tr>
  	<td colspan="1">
      <%= button_to_function("Login", "login()") %>
   </td>
   <td>
   	<input type="button" value="Sign Up" onclick="window.location.href='/userregister'">
   	</td>
  
  </tr>
  </br>
   <tr>
  
   <td colspan="3">
        <div id="Error" style="color: red"></div>
		<% flash.each do |key, value| %>
		  <div style="color: red" class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
   </td>
  </tr>
<% end %>
</table>
</div>
</div>

</div>
</div>

 <div id="register"> </div>

