<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Slotting Management </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/assets/grid.locale-en.js" type="text/javascript"></script>
  <script src="/assets/jquery.jqGrid.min.js" type="text/javascript"></script>  
  <%= csrf_meta_tags %>
  
  <script>
  		  $(document).ready(function(){
			$("#wrap").css("height",$( window ).height() * .95)			
	  })
  	
  </script>
  
  <style>
  	#wrap {
		min-height: 100%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0 0 60px;
		}
		
		#footer > .contain {
		margin-left: 5%;
		margin-right: 5%;

		}
		th.ui-th-column div{
        white-space:normal !important;
        height:auto !important;
        padding:2px;
        }
  </style>
  <%= yield :head %>
 </head>

<body>
	
<div id="wrap">
  <div class="contain">
  	<!--==Content goes here -->
		<%= yield %>
  </div>	
 </div> 
 
<% if params[:lightweight] != "yes" %>
	<div id="footer">
	  <div class="contain">
	    <div class="text-muted" style="margin: 0 auto;    text-align: center;">All copyrights reserved SlotFire, contact the slotfire team</div>
	 </div>
<%end%>

</body>
</html>

