<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">	
  <title><%= yield(:title) %> | Slotting Management </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    controller.controller_name, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller.controller_name %>

  <%= csrf_meta_tags %>
 
  
  <script>
  		  $(document).ready(function(){	
			$("#wrap").css("height",$( window ).height() * .95)			
	      });

<% if !current_page?(:action=>"index", :controller=>"login") || current_page?(:action=>"aboutus", :controller=>"login") || current_page?(:action=>"thanks", :controller=>"userregister")  %>
	   
	      $(document).ready(function() {
	    	$.sessionTimeout({
		        keepAliveUrl : '/login/?session=live',
                redirUrl     : '/login',
                logoutUrl    : '/login',
                warnAfter    : 3300000, // 15 minutes
                redirAfter   : 3600000 // 20 minutes
	    	});
		});
<% end %>
			
  </script>
  
  
  
  <style>
  	.wrapper {
		margin-left: 5%;
		margin-right: 5%;
		height: 600px;
		}
		
  	.container {
		margin-left: 0%;
		margin-right: 0%;
		height: 100%;
		}
		
		#footer > .contain {
		margin-left: 5%;
		margin-right: 5%;

		}
		th.ui-th-column div{
        white-space:normal !important;
        height:auto !important;
        padding:2px;
        }
  </style>
  <%= yield :head %>
 </head>

<body>
	
<div id="wrapper" class="wrapper">
  <div class="container">
  	<!--==Content goes here -->
		<%= yield %>
  </div>	
 </div> 
 
<% if params[:lightweight] != "yes" %>
	<div id="footer" style="margin: 0; float:left; width: 100%;">
	    <div class="text-muted" style="text-align: center;height:5px">All copyrights reserved SlotFire, contact the slotfire team</div>
	 </div>
<%end%>

</body>
</html>

